<header>
  <nav>
    <textarea class="header">Choose A Story</textarea>
    <div class="right">
      <h1>Hilarious Stories</h1>
      <ul>
        <li>
          <a href="/stories">Home</a>
        </li>
        <li>
          <a href="/stories/me/">My Own Stories</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
